body {
    background-color: aquamarine;
}

h2 {
    text-align: center;
    color: blueviolet;
}

.content {
    color: red;
}

.newClass {
    background-color: green;
}

#div1 {
    height: 100px;
    width: 100px;
    background-color: dodgerblue;
    color: white;
    border: 1px solid black;
}
